<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="NorthWind SqlClient" 
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;Pooling=False" 
         providerName="System.Data.SqlClient"/>
    <add name="Northwind SqlLite"
         connectionString="data source=C:\Development\Perceiveit.Data.DynaSQL\Northwind_sqlite\Northwind.sl3"
         providerName="System.Data.SQLite"/>
    <add name="Northwind MySql"
         connectionString="server=172.16.56.1;User Id=xan;Password=xan;Persist Security Info=True;database=xan"
         providerName="MySql.Data.MySqlClient"/>
    <add name="Northwind Access"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source='C:\Users\Richard Hewitson\Documents\Northwind07.accdb';Persist Security Info=False;"
         providerName="System.Data.OleDb"/>
  </connectionStrings>
</configuration>