<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Perceiveit.Data" type="Perceiveit.Data.Configuration.DBConfigurationSection, Perceiveit.Data"/>
  </configSections>
  <connectionStrings></connectionStrings>

  <Perceiveit.Data xmlns="http://schemas.perceiveit.co.uk/Data/Configuration.xsd" wrap-exceptions="false">
    
      <!-- The full list of profilers to attach to any DBDatabase-->
      <Profilers auto-start="true">
        <Clear/>
        <Attach name="Console" factory="Perceiveit.Data.Profile.DBConsoleProfilerFactory, Perceiveit.Data"/>
        <Attach name="LogFile" factory="Perceiveit.Data.Profile.DBTextFileProfilerFactory, Perceiveit.Data">
          <Clear/>
          <Set key="file-path" value="C:\Temp\DB_Log_[Connection]_[Date].txt"></Set>
        </Attach>
      </Profilers>

    <!--  Implementation specific DBFactories -->
      <Implementations>
        <Remove provider="System.Data.SqlClient"/>
        <Register provider="System.Data.SqlClient" implementation-type="Perceiveit.Data.DynaSql.Tests.CustomDBSqlClientImplementation, Perceiveit.Data.DynaSql.Tests"/>
      </Implementations>

  </Perceiveit.Data>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
