<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ListTests.Properties.Settings.AccessConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Documents and Settings\Richard.Hewitson\My Documents\DynaSQLTest.mdb&quot;"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>