<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Scryber.StyleKeys" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Scryber.StyleKeys>
            <setting name="BackgroundItem" serializeAs="String">
                <value>Background</value>
            </setting>
            <setting name="ColorAttr" serializeAs="String">
                <value>color</value>
            </setting>
            <setting name="ImgSrcAttr" serializeAs="String">
                <value>img-src</value>
            </setting>
            <setting name="RepeatAttr" serializeAs="String">
                <value>repeat</value>
            </setting>
            <setting name="PositonXAttr" serializeAs="String">
                <value>x</value>
            </setting>
            <setting name="PositionYAttr" serializeAs="String">
                <value>y</value>
            </setting>
            <setting name="BorderItem" serializeAs="String">
                <value>Border</value>
            </setting>
            <setting name="StyleAttr" serializeAs="String">
                <value>style</value>
            </setting>
            <setting name="DashAttr" serializeAs="String">
                <value>dash</value>
            </setting>
            <setting name="FontItem" serializeAs="String">
                <value>Font</value>
            </setting>
            <setting name="FontFamilyAttr" serializeAs="String">
                <value>family</value>
            </setting>
            <setting name="FontBoldAttr" serializeAs="String">
                <value>bold</value>
            </setting>
            <setting name="FontItalicAttr" serializeAs="String">
                <value>italic</value>
            </setting>
            <setting name="FontUnderlineAttr" serializeAs="String">
                <value>underline</value>
            </setting>
            <setting name="FontSizeAttr" serializeAs="String">
                <value>size</value>
            </setting>
            <setting name="MarginsItem" serializeAs="String">
                <value>Margins</value>
            </setting>
            <setting name="XAttr" serializeAs="String">
                <value>x</value>
            </setting>
            <setting name="YAttr" serializeAs="String">
                <value>y</value>
            </setting>
            <setting name="TopAttr" serializeAs="String">
                <value>top</value>
            </setting>
            <setting name="LeftAttr" serializeAs="String">
                <value>left</value>
            </setting>
            <setting name="WidthAttr" serializeAs="String">
                <value>width</value>
            </setting>
            <setting name="HeightAttr" serializeAs="String">
                <value>height</value>
            </setting>
            <setting name="BottomAttr" serializeAs="String">
                <value>bottom</value>
            </setting>
            <setting name="RightAttr" serializeAs="String">
                <value>right</value>
            </setting>
            <setting name="PositionItem" serializeAs="String">
                <value>Position</value>
            </setting>
            <setting name="TextItem" serializeAs="String">
                <value>Text</value>
            </setting>
            <setting name="WrappingAttr" serializeAs="String">
                <value>wrap</value>
            </setting>
            <setting name="WhitespaceAttr" serializeAs="String">
                <value>whitespace-significant</value>
            </setting>
            <setting name="ForegroundItem" serializeAs="String">
                <value>Foreground</value>
            </setting>
            <setting name="StrokeItem" serializeAs="String">
                <value>Stroke</value>
            </setting>
            <setting name="LineEndingAttr" serializeAs="String">
                <value>ending</value>
            </setting>
            <setting name="LineJoinAttr" serializeAs="String">
                <value>join</value>
            </setting>
            <setting name="LineMitreAttr" serializeAs="String">
                <value>mitre</value>
            </setting>
            <setting name="CornerRadiusAttr" serializeAs="String">
                <value>corner-radius</value>
            </setting>
            <setting name="SidesAttr" serializeAs="String">
                <value>sides</value>
            </setting>
            <setting name="PaperItem" serializeAs="String">
                <value>Paper</value>
            </setting>
            <setting name="PaperSizeAttr" serializeAs="String">
                <value>paper-size</value>
            </setting>
            <setting name="PaperOrientationAttr" serializeAs="String">
                <value>paper-orientation</value>
            </setting>
            <setting name="FontLeadingAttr" serializeAs="String">
                <value>leading</value>
            </setting>
            <setting name="VerticalAlignAttr" serializeAs="String">
                <value>v-align</value>
            </setting>
            <setting name="HorizontalAlignAttr" serializeAs="String">
                <value>h-align</value>
            </setting>
            <setting name="FirstInsetAttr" serializeAs="String">
                <value>first-indent</value>
            </setting>
            <setting name="WordSpacingAttr" serializeAs="String">
                <value>word-spacing</value>
            </setting>
            <setting name="OverflowActionAttr" serializeAs="String">
                <value>action</value>
            </setting>
            <setting name="OverflowSplitAttr" serializeAs="String">
                <value>split</value>
            </setting>
            <setting name="OverflowItem" serializeAs="String">
                <value>Overflow</value>
            </setting>
            <setting name="ClipItem" serializeAs="String">
                <value>Clip</value>
            </setting>
            <setting name="TransformItem" serializeAs="String">
                <value>Transform</value>
            </setting>
            <setting name="ScaleXAttr" serializeAs="String">
                <value>scale-x</value>
            </setting>
            <setting name="ScaleYAttr" serializeAs="String">
                <value>scale-y</value>
            </setting>
            <setting name="RotateAttr" serializeAs="String">
                <value>rotate</value>
            </setting>
            <setting name="SkewXAttr" serializeAs="String">
                <value>skew-x</value>
            </setting>
            <setting name="SkewYAttr" serializeAs="String">
                <value>skey-y</value>
            </setting>
            <setting name="OffsetHAttr" serializeAs="String">
                <value>offset-x</value>
            </setting>
            <setting name="OffsetVAttr" serializeAs="String">
                <value>offset-y</value>
            </setting>
            <setting name="PositionModeAttr" serializeAs="String">
                <value>mode</value>
            </setting>
            <setting name="PaddingItem" serializeAs="String">
                <value>Padding</value>
            </setting>
            <setting name="FillItem" serializeAs="String">
                <value>Fill</value>
            </setting>
            <setting name="AllAttr" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="FillStyleAttr" serializeAs="String">
                <value>style</value>
            </setting>
            <setting name="DisplayModeAttr" serializeAs="String">
                <value>display</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>opacity</value>
            </setting>
            <setting name="PageNumberStyleAttr" serializeAs="String">
                <value>number-style</value>
            </setting>
            <setting name="PageNumberPrefix" serializeAs="String">
                <value>number-prefix</value>
            </setting>
            <setting name="PageNumberStart" serializeAs="String">
                <value>number-start-index</value>
            </setting>
            <setting name="IsOutlineAttr" serializeAs="String">
                <value>is-outlined</value>
            </setting>
        </Scryber.StyleKeys>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
